body {
  font-family: serif;
  color: white;
  background-color: black;
}

button {
  padding: 20px;
  font-size: 18pt;
  text-shadow: 1px 1px 1px #97cbbb;
  color: #97ceeb;
  border: 2px solid #97ceeb;
  background-color: transparent;
}

h1 {
  font-size: 40px;
}
